<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Logger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<script src="https://kit.fontawesome.com/73a5feaf89.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body>
		<style>
			body {
				background: lightgrey;
				font-family: Arial, Helvetica, sans-serif;
				color: grey;
				
			}
			h1 {
				text: grey;
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
			h2 {
				color: rgb(75, 75, 75);
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
			.centered{
				text-align: center;
				font-family: Arial, Helvetica, sans-serif;
			}
			.container2 {
			margin-left: 20%;
			margin-right: 20%;
			}
			.black {
				color:rgb(240, 121, 121);
				font-size: 60pt;
			}
			.input-form {
				margin-left: 40%;
			margin-right: 40%;
			}
			li {
				background: rgb(190, 197, 203);
				border-radius: 10px;
			}
			.pink-button {
				color:rgb(240, 121, 121);
				font-size: 15pt;
				margin-bottom: 3%;
			}
			.change-status {
				background: rgb(240, 121, 121);
				font-size: 15pt;
				color: black;
				border-radius: 10px;
			}

		</style>
		{{{ body }}}

		
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
</html>
